<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties" />
    <typeAliases>
        <typeAlias type="Beans.potatob6.Administrator" alias="Administrator" />
        <typeAlias type="Beans.potatob6.Book" alias="Book" />
        <typeAlias type="Beans.potatob6.Exam" alias="Exam" />
        <typeAlias type="Beans.potatob6.User" alias="User" />
        <typeAlias type="Beans.potatob6.Book" alias="Book" />
        <typeAlias type="Beans.czx.IUser"     alias="IUser"/>
        <typeAlias type="Beans.czx.IRole"     alias="IRole"/>
        <typeAlias type="Beans.czx.ICategory" alias="ICategory"/>
        <typeAlias type="Beans.czx.INews"     alias="INews"/>
        <typeAlias type="Beans.czt.BorrowWithBook" alias="BorrowWithBook" />
        <typeAlias type="Beans.potatob6.BorrowWithBook" alias="PBBorrowWithBook" />
        <typeAlias type="Beans.czt.Borrow"    alias="Borrow" />
        <typeAlias type="Beans.wyl.HeadImg"   alias="HeadImg"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
</configuration>