* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/wallpaper.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background: rgba(195, 230, 248, 0.336);
    opacity: 0.9;
    backdrop-filter: blur(8px);
    box-shadow: 0 25px 45px rgba(66, 142, 241, 0.7);
    border: 1px solid rgba(115, 192, 187, 0.7);
    border-right: 1px solid rgba(77, 167, 161, 0.7);
    border-bottom: 1px solid rgba(25, 156, 148, 0.7);
}

.container .tit {
    font-size: 36px;
    margin: 65px auto 70px auto;
}

.container input {
    width: 280px;
    height: 30px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    margin: auto;
    border-radius: 5px;
    display: flex;
}

form {
    width: 100%;
    height: 100%;
}





.container span {
    font-size: 14px;
}

.container a {
    color: plum;
    text-decoration: none;
}

ul li {
    position: absolute;
    border: 1px solid #fff;
    background-color: #fff;
    width: 30px;
    height: 30px;
    list-style: none;
}

.square li {
    top: 40vh;
    left: 60vw;
    animation: square 10s linear infinite;
}

.square li:nth-child(2) {
    top: 60vh;
    left: 10vw;
    /*设置动画延迟 */
    animation-delay: 1s;
}

.square li:nth-child(3) {
    top: 85vh;
    left: 10vw;
    animation-delay: 3s;
}

.square li:nth-child(4) {
    top: 80vh;
    left: 70vw;
    animation-delay: 5s;
}

.square li:nth-child(5) {
    top: 10vh;
    left: 10vw;
    animation-delay: 7s;
}


/*动画*/

@keyframes square {
    0% {
        transform: scale(0) rotateX(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(5) rotateX(90deg);
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        transform: scale(0) rotateY(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    100% {
        transform: scale(5) rotateY(90deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}

.circle li {
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {
    left: 35vw;
    animation-delay: 1s;
}

.circle li:nth-child(3) {
    left: 55vw;
    animation-delay: 3s;
}

.circle li:nth-child(4) {
    left: 75vw;
    animation-delay: 5s;
}

.circle li:nth-child(5) {
    left: 90vw;
    animation-delay: 7s;
}

.login_container {
    width: 100%;
    height: 100%;

}
.login_container form {
    width: 300px;
    height: 360px;
    margin: auto;
    color: rgba(250, 250, 250, 0.4);
}
.login_container form h1 {
    /*登录标题*/
    color: #fff;
    font-size: 3.6em;
    line-height: 2em;
    text-align: center;
    font-size: 36px;
    margin: 50px auto;
}
.login_container form .err_box {
    width: 100%;
    height: 1.2em;
    line-height: 1.2em;
    color: red;
    font-size: 1em;
    text-align: center;
}
.login_container form .user {
    /*用户*/
    width: 100%;
    height: 36px;
    display: flex;
    border: 1px solid #0086b3;
    border-radius: 6px;
    background-color: rgba(94, 120, 208, 0.6);
}
.login_container form .user input {
    width: 80%;
    height: 100%;
    padding-left: 6px;
    line-height: 100%;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}
.login_container form .user input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .user input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .user input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .user i {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 6px;
    border-radius: 6px;
    font-size: 1.4em;
    width: 12%;
}
.login_container form .password {
    /*密码*/
    width: 100%;
    height: 36px;
    display: flex;
    border: 1px solid #0086b3;
    border-radius: 6px;
    background-color: rgba(94, 120, 208, 0.6);
}
.login_container form .password input {
    width: 80%;
    height: 100%;
    padding-left: 6px;
    line-height: 100%;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}
.login_container form .password input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .password input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .password input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.login_container form .password i {
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 6px;
    border-radius: 6px;
    font-size: 1.4em;
    width: 12%;
}
.login_container form .test_container {
    /*验证码容器*/
    width: 100%;
    height: 36px;
    display: flex;
    border: 1px solid #0086b3;
    border-radius: 6px;
    background-color: rgba(94, 120, 208, 0.6);
    justify-content: space-between;
    border: none;
    background-color: unset;
}
.login_container form .test_container .test {
    /*验证码输入*/
    width: 40%;
    line-height: 100%;
    border-radius: 6px;
    border: 1px solid #0086b3;
    color: #3967FF;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 12px;
    outline-color: #0086b3;
}
.login_container form .test_container .test_ers {
    /*验证码及刷新*/
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
}
.login_container form .test_container .test_ers .test_er {
    box-sizing: border-box;
    width: 78%;
    font-size: 1.6em;
    border-radius: 6px 0 0 6px;
    color: #3967FF;
    background-color: rgba(255, 255, 255, 0.4);
}
.login_container form .test_container .test_ers .update {
    width: 22%;
    line-height: 1.4;
    color: white;
    font-size: 12px;
    border-radius: 0 6px 6px 0;
    background-color: #3967FF;
}
.login_container form .test_container .test_ers .update:hover {
    cursor: pointer;
}
.login_container form .submit {
    /*提交按钮*/
    width: 100%;
    height: 36px;
    display: flex;
    border: 1px solid #0086b3;
    border-radius: 6px;
    background-color: rgba(94, 120, 208, 0.6);
    display: block;
    background-color: #3967FF;
    color: white;
    width: 280px;
    height: 40px;
    margin: 35px auto 40px auto;
    border: none;
    background: linear-gradient(-200deg, #fac0e7, #aac2ee);
    color: #fff;
    font-weight: bold;
    letter-spacing: 8px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    display: block;
}
.login_container form .submit:hover {
    cursor: pointer;
}
.login_container form .others {
    width: 100%;
    height: 36px;
    text-align: center;
}
.login_container form .others a {
    color: rgba(250, 250, 250, 0.6);
}
.login_container form .others a:active {
    color: #3967FF;
}
.login_container form .others span {
    margin: 0 4px;
}

.login_container form .submit:hover {
    background: linear-gradient(-200deg, #aac2ee, #fac0e7);
    background-position-x: -200px;
}