<!DOCTYPE mapper
        PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Mappers.potatob6.BookMapper">
    <select id="getBookById" resultType="Book">
        select * from Books where bookId=#{bookId}
    </select>

    <select id="getPageOfBook" resultType="Book" parameterType="Integer">
        select * from Books limit ${startIndex},${pageCount}
    </select>

    <update id="editBook" parameterType="Book">
        update Books set bookName=#{bookName}, author=#{author},
        publisher=#{publisher}, storageCount=#{storageCount},
        price=#{price}
        where bookId=#{bookId}
    </update>

    <delete id="deleteBook" parameterType="Integer">
        delete from Books where bookId=#{bookId}
    </delete>

    <insert id="addBook" useGeneratedKeys="true" keyColumn="bookId" keyProperty="bookId" parameterType="Book">
        insert into Books(bookName, author, publisher, storageCount, price)
        values(#{bookName}, #{author}, #{publisher}, #{storageCount}, #{price})
    </insert>
</mapper>