<!DOCTYPE mapper
        PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Mappers.potatob6.ExamMapper">

    <update id="setAccept" parameterType="Integer">
        update Exams set examHandleTime=CURRENT_TIMESTAMP, examHandleStatus='已同意', examHandleAdminId=#{adminId} where examId=#{examId}
    </update>

    <update id="setReject" parameterType="Integer">
        update Exams set examHandleTime=CURRENT_TIMESTAMP, examHandleStatus='已拒绝', examHandleAdminId=#{adminId} where examId=#{examId}
    </update>

    <select id="getExamById" resultMap="ExamResMap" parameterType="Integer">
        select * from Exams where examId=#{examId}
    </select>

    <select id="getNumberOfAllNotHandledExams" resultType="Integer">
        select count(*) from Exams where examHandleStatus='未处理'
    </select>

    <select id="getAPageOfNotHandledExams" resultMap="ExamResMap" parameterType="Integer">
        select * from Exams where examHandleStatus='未处理' limit ${startIndex},${pageCount}
    </select>

    <select id="getAllNotHandledExams" resultMap="ExamResMap">
        select * from Exams where examHandleStatus='未处理'
    </select>

    <select id="getAllPageOfHandledExams" resultMap="ExamResMap" parameterType="Integer">
        select * from Exams where examHandleStatus='已处理' limit ${startIndex},${pageCount}
    </select>

    <select id="getAllHandledPageOfExamsBySelf" resultMap="ExamResMap" parameterType="Integer">
        select * from Exams where examHandleAdminId=#{adminId} and examHandleStatus='已处理' limit ${startIndex},${pageCount}
    </select>

    <select id="getAllPageExam" resultMap="ExamResMap" parameterType="Integer">
        select * from Exams limit ${startIndex},${pageCount}
    </select>

    <select id="getBookInBorrow" parameterType="Integer" resultType="BorrowWithBook">
        select borrow.borrowId as borrowId, borrow.bookId as bookId, borrow.userId as userId, borrow.borrowDate as borrowDate, borrow.timeLimit as timeLimit, borrow.returnDate as returnDate, Books.bookName as bookName
        from borrow, Books where borrow.bookId=Books.bookId and borrow.bookId=#{bookId}
    </select>

    <resultMap id="queryUserById" type="User">
        <id property="userId" column="userId" />
        <result property="userLogin" column="userLogin" />
        <result property="userName" column="userName" />
        <result property="userPassword" column="userPassword" />
    </resultMap>

    <resultMap id="ExamResMap" type="Exam">
        <result property="examId" column="examId" />
        <result property="examType" column="examType" />
        <result property="examUserId" column="examUserId" />
        <result property="examExtra" column="examExtra" />
        <result property="examExtra1" column="examExtra1" />
        <result property="examHandleTime" column="examHandleTime" />
        <result property="examHandleStatus" column="examHandleStatus" />
        <result property="examHandleAdminId" column="examHandleAdminId" />
        <result property="examComment" column="examComment" />
        <association property="examUser" column="examUserId" select="Mappers.potatob6.UserMapper.getUserById" />
        <association property="examAdmin" column="examHandleAdminId" select="Mappers.potatob6.AdminMapper.getAdminById" />
        <association property="examBook" column="examExtra" select="Mappers.potatob6.BookMapper.getBookById" />
        <association property="examBorrowWithBook" column="examExtra" select="getBookInBorrow" />
    </resultMap>
</mapper>