<!DOCTYPE mapper
        PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Mappers.potatob6.UserMapper">
    <select id="getUserById" parameterType="Integer" resultType="User">
        select * from Users where userId=#{userId}
    </select>
</mapper>